/*
#28a745: verde
#f4f0d2: panna
*/

.root {
    -fx-background-color: #f4f0d2;
}

.primary-color{
    -fx-background-color: #ffffff;
}

.Label {
        -fx-font-size: 14;
        -fx-font-weight: bold;
}

.TextField, .PasswordField {
   -fx-font-size: 14;
   -fx-padding: 0 5 0 5;
}

.text-input {
    -fx-background-color: rgba(0,0,0,0);

    -fx-border-width: 0 0 1 0;
    -fx-border-color: #28a745;

    -fx-text-inner-color: #000;

    -fx-highlight-fill: #28a745;

}



.button {
    -fx-font-size: 14;
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
}

.clickableLabel:hover {
    -fx-text-fill: #3A887C;

    -fx-cursor: hand;
}

.clickableImageView:hover {
    -fx-opacity: 0.7;

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

    -fx-cursor: hand;
}

#priceSpinner {
    -fx-background-color: rgba(0,0,0,0);

    -fx-border-width: 0 0 1 0;
    -fx-border-color: #28a745;

    -fx-text-inner-color: #000000;
    -fx-font-size: 14;
}

.increment-arrow-button{
    -fx-background-color: rgba(0,0,0,0);

    -fx-border-width: 1 1 0 1;
    -fx-border-color: #28a745;

    -fx-text-inner-color: #000000;
}

.decrement-arrow-button{
    -fx-background-color: rgba(0,0,0,0);

    -fx-border-width: 1 1 0 1;
    -fx-border-color: #28a745;

    -fx-text-inner-color: #000000;
}

.scroll-pane{
    -fx-background-color: #f4f0d2;
}

.scroll-pane .viewport {
    -fx-background-color: #f4f0d2;
}

#scroll .viewport {
    -fx-background-color: #f4f0d2;
}


.scroll-pane .scroll-bar {
    -fx-background-color: #f4f0d2;
    -fx-border-color: Transparent;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #28a745;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 2px;
    -fx-min-width: 5px;
}

#grid{
    -fx-background-color: #f4f0d2;
}
